* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans", sans-serif;
  background: linear-gradient(#022f44, rgb(61, 0, 61));
}

/* Header */
.h1-main, .h2-main {
  font-size: 1.5vw;
}

.h1-header {
  color: violet;
  text-align: center;
  padding: 2%;
  font-size: 2.5vw;
}

/* Main */

.div-economico, .div-antecipado {
  border: 1px solid violet;
  border-radius: 7px;
  max-width: 50%;
  margin: auto;
  margin-bottom: 3%;
}

.div1-main {
  /* color: violet; */
  color: #8fb9aa;
  margin: auto;
  padding: 1.5%;
  /* max-width: 50%; */
  text-align: center;
  font-size: 1.5vw;
}
.div2-main {
  color: #8fb9aa;
  margin: auto;
  padding: 5%;
  /* max-width: 50%; */
  max-height: 15%;
  text-align: center;
}

.p1-main, .p2-main {
  color: #8fb9aa;
  font-size: 1.2vw;
}

.div3-main {
  color: #8fb9aa;
  margin: auto;
  padding: 1.5%;
  /* max-width: 50%; */
  text-align: center;
  font-size: 1.5vw;
}
.div4-main {
  color: #8fb9aa;
  margin: auto;
  padding: 5%;
  /* max-width: 50%; */
  max-height: 15%;
  text-align: center;
}

.legend-economico, .legend-antecipado {
  margin-bottom: 1.5%;
  font-weight: bold;
}

.input-economico, .input-antecipado {
  font-size: 1.5vw;
  background-color: rgb(117, 8, 117);
  border: 1px solid violet;
  border-radius: 10px;
  padding: 1.5%;
  cursor: pointer;
  color: #8fb9aa;
  text-align: center;
  max-width: 30%;
  margin-bottom: 2%;
}

.input-economico:focus,
.input-antecipado:focus {
  color: bisque;
  outline: 0;
  border: 1px solid #8fb9aa;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.btn-economico, .btn-antecipado {
    font-size: 1.5vw;
    background-color: #022f44;;
    border: 1px solid violet;
    border-radius: 10px;
    padding: 1.5%;
    cursor: pointer;
    color: bisque;
    text-align: center;
    max-width: 30%;
    min-width: 30%;
}

.btn-economico:hover, .btn-antecipado:hover {
    background-color: rgb(117, 8, 117);
    border: 1px solid #8fb9aa;
    /* Adicionar animação ao redor do botão */
}

.dialog-economico, .dialog-antecipado {
  text-align: center;
  background: linear-gradient(#022f44, rgb(117, 8, 117));
  /* Adicionar efeito de tela de fundo */
  margin: auto;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid violet;
  width: 50vw;
  height: 80%;
  color: bisque;
  opacity: 0;
}

.table-dialog-economico {
  border: 1px solid #8fb9aa;
  padding: 2%;
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

#dialog-economico.animar {
    animation-name: slide;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes slide {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

#load {
  width: 40px;
  height: 40px;
  border: 10px solid;
  border-radius: 50%;
  border-top-color: transparent;
  margin: 0 auto;
  color: violet;
  animation: load 2s;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

.values {
  display: none;
}

/* DIVs dos botões dentro do Dialog */
.divPaiDoDialogEconomico {
  /* background-color: firebrick; */
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-between;
}

.div1-dialog-economico {
  /* background-color: bisque; */
  width: 49%;
}

.div2-dialog-economico {
  /* background-color: burlywood; */
  width: 49%;
}

#btn-voltar, #btn-abrir-modelo {
  font-size: 1.5vw;
    background-color: #022f44;;
    border: 1px solid violet;
    border-radius: 10px;
    padding: 1.5%;
    cursor: pointer;
    color: bisque;
    text-align: center;
    width: 100%;
    min-width: 30%;
}

#btn-abrir-modelo:hover, #btn-voltar:hover {
  background-color: rgb(117, 8, 117);
  border: 1px solid #8fb9aa;
}


/* DIV do modelo de orçamento */

.div-modelo-orçamento {
  border: 2px solid rgb(243, 193, 136);

}

.dialog-modelo-economico {
  background-color: bisque;
  margin: auto;
  border: 2px solid violet;
  border-radius: 10px;
  width: 60%;
  height: 90%;
}

.div1-dialog-modelo-economico {
  background-color: #f1b673;
}

.div2-dialog-modelo-economico {
  background-color: springgreen;
}

.div3-dialog-modelo-economico {
  background-color: brown;
}

.div4-dialog-modelo-economico {
  display: flex;
}

#div1EconomicoOnDiv4DialogModeloEconomico {
  background-color: #ffd8b1;
  width: 20%;
  height: 200px;
  
}

#div2EconomicoOnDiv4DialogModeloEconomico {
  background-color: rgb(136, 126, 35);
  width: 60%;
  height: 200px;
}

#div3EconomicoOnDiv4DialogModeloEconomico {
  background-color: rgb(36, 120, 175);
  width: 20%;
  height: 200px;
}

.div5-dialog-modelo-economico {
  display: flex;
}

#div1EconomicoOnDiv5DialogModeloEconomico {
  background-color: crimson;
}

#div2EconomicoOnDiv5DialogModeloEconomico {
  background-color: aqua;
}

#div3EconomicoOnDiv5DialogModeloEconomico {
  background-color: rgb(129, 150, 140);
}





/* Footer */
